body {
  font-family: monospace, sans-serif;
}

.question-container {
  border: 1px solid red;
}
img {
  max-width: 440px;
  max-height: 220px;
  border: 10px solid white;
  box-shadow: 2px 2px 2px 2px #ababab;
}

#messageDiv {
  height: 30px;
}
form {
  border: 1px solid blue;
  width: 340px;
}
input,
label {
  cursor: pointer;
}

button {
  font-size: 18px;
  width: 200px;
  margin: 10px auto;
}
